body.hide-meiqia #MEIQIA-BTN-HOLDER {
  display: none !important;
  opacity: 0 !important;
  visibility: hidden !important;
}
body.body-no-scroll {
  overflow: hidden !important;
}
* {
  font-family: "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.clearfix::after {
  display: table;
  content: "";
  clear: both;
}
ul {
  list-style: none;
}
.mpa-hide,
.hide {
  display: none !important;
}
body,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimSun, sans-serif;
  -webkit-font-smoothing: antialiased;
}
body.has-dialog {
  overflow: hidden;
}
button {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.global-help-box {
  position: fixed;
  right: 0;
  top: 40%;
  width: 3em;
  background-color: white;
  border: 1px solid #efefef;
  border-radius: 3px;
  box-shadow: -1px 1px 2px #efefef;
  z-index: 100;
  text-align: center;
}
.global-help-box a {
  padding: 10px 0.5em;
  color: #999;
  display: inline-block;
  cursor: pointer;
  -webkit-transition: color 100ms ease;
  transition: color 100ms ease;
  text-decoration: none;
}
.global-help-box a:hover {
  color: #666;
  text-decoration: none;
}
.global-help-box #line {
  width: 70%;
  height: 1px;
  margin: 0 auto;
  background-color: #ccc;
}
.gs-dialog {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2000;
}
.gs-dialog .inner {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 20px 35px 20px;
  border-radius: 2px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  width: 316px;
}
.gs-dialog .inner img.close {
  position: absolute;
  right: 14px;
  top: 14px;
  width: 32px;
  height: 34px;
  padding: 10px;
  cursor: pointer;
}
.gs-dialog .inner .title {
  text-align: center;
  font-size: 17px;
  margin: 20px 0 0;
  color: #222222;
  font-weight: 500;
  padding: 0;
}
.gs-dialog footer {
  margin-top: 20px;
}
.dialog-enlarge {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2000;
}
.dialog-enlarge > img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.dialog {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2000;
  overflow: auto;
}
.dialog header {
  padding: 10px;
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 10px;
  padding-left: 15px;
  font-size: 15px;
}
.dialog header .dialog-close {
  height: 24px;
  cursor: pointer;
  float: right;
  padding: 5px;
  position: absolute;
  right: 7px;
  opacity: 0.6;
}
.dialog header .dialog-close:hover {
  opacity: 1;
}
.dialog .inner {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: white;
  text-align: left;
  min-width: 380px;
  border-radius: 2px;
}
.dialog .inner .content {
  padding: 0px 15px;
  width: 100%;
  overflow: hidden;
}
.dialog .inner .content .input {
  display: block;
  width: 100%;
}
.dialog .inner .content p {
  margin: 10px 0;
}
.dialog footer {
  padding: 12px 12px;
  padding-top: 0;
  text-align: right;
}
.dialog .inner > .content {
  margin-bottom: 15px;
}
.dialog .btn {
  cursor: pointer;
  border: none;
  line-height: 32px;
  font-size: 14px;
  text-align: center;
  border-radius: 3px;
  outline: none;
  display: inline-block;
  min-width: 90px;
  padding: 0;
}
.dialog .btn + .btn {
  margin-left: 10px;
}
.dialog .btn-default {
  border: 1px solid #dcdcdc;
  background: white;
  color: #333;
  -webkit-transition: background-color 0.2s ease 0s;
  transition: background-color 0.2s ease 0s;
}
.dialog .btn-default:hover {
  background: #fafafa;
  border: 1px solid #d5d5d5;
  color: #333;
}
.dialog .btn-default:active {
  background: #eee;
}
.dialog .btn-primary {
  color: white;
  background: #20c05c;
  -webkit-transition: background-color 0.2s ease 0s, color 0.2s ease 0s;
  transition: background-color 0.2s ease 0s, color 0.2s ease 0s;
}
.dialog .btn-primary:hover {
  border-color: #1ab955;
  background: #1ab955;
  color: white;
}
.dialog .btn-primary:active {
  border-color: #22ad56;
  background: #22ad56;
  color: white;
}
.common-dialog {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.48);
  z-index: 900000000;
}
.common-dialog .inner {
  position: relative;
  padding: 32px;
  padding-bottom: 24px;
  border-radius: 4px;
  width: 399px;
  box-sizing: border-box;
  margin: 0 auto;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: #fff;
}
.common-dialog .inner .close-icon {
  position: absolute;
  top: 21px;
  right: 21px;
  width: 11px;
  height: 11px;
  cursor: pointer;
}
.common-dialog .inner .title {
  font-size: 16px;
  color: #222222;
  font-weight: 500;
  margin-bottom: 12px;
}
.common-dialog .inner .content {
  font-size: 14px;
  color: #222;
  margin-bottom: 24px;
}
.common-dialog .inner .btn-box {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-end;
}
.common-dialog .inner .btn-box .btn {
  display: inline-block;
  border: none;
  outline: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  padding: 5px 16px;
  border-radius: 4px;
  border: 1px solid #d9d9d9;
  background: #FFFFFF;
  margin-right: 8px;
}
.common-dialog .inner .btn-box .confirm-btn {
  background: #24BE48;
  color: #FFFFFF;
  border-color: #24BE48;
}
.mpa-btn-v1 {
  outline: none;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 0 20px;
  white-space: nowrap;
  color: #000000;
  font-size: 14px;
  background: white;
  box-sizing: content-box;
  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 32px;
  line-height: 32px;
}
.mpa-btn-v1:hover {
  color: #333333;
  background: #f8f8f8;
  border-radius: 4px;
  border: 1px solid #d3d3d3;
}
.mpa-btn-v1:active {
  color: #1a1a1a;
  background: #f2f2f2;
  border-radius: 4px;
  border: 1px solid #cfcfcf;
}
.mpa-btn-v1.primary {
  background: #24BE58;
  color: white;
  border: 1px solid #24BE58;
}
.mpa-btn-v1.primary:hover {
  background: #21af42;
  color: #ffffff;
}
.mpa-btn-v1.primary:active {
  background: #1fa63f;
}
.mpa-btn-v1.primary.disable {
  background: #f5f5f5;
  color: #b8b8b8;
  border: 1px solid transparent;
  cursor: not-allowed;
}
.mpa-btn-v1.primary.disable:hover {
  opacity: 1;
}
.common-dialog-container {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  background: rgba(0, 0, 0, 0.48);
  top: 0;
  left: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}
.common-dialog-container .inner {
  width: 400px;
  box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.18);
  border-radius: 4px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  padding: 22px 30px 16px 30px;
  position: relative;
  background: white;
}
.common-dialog-container .inner > .close-icon {
  width: 14px;
  height: 14px;
  padding: 4px;
  box-sizing: content-box;
  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  top: 12px;
  right: 18px;
}
.common-dialog-container .inner > .title {
  font-size: 16px;
  font-weight: bold;
  color: #222;
  width: 100%;
  text-align: left;
}
.common-dialog-container .inner > .content {
  width: 100%;
  font-size: 14px;
  color: #222;
  white-space: pre-wrap;
  word-break: break-all;
  text-align: left;
  line-height: 18px;
  margin-top: 10px;
}
.common-dialog-container .inner > .action-wrap {
  margin-top: 20px;
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  align-items: center;
}
.common-dialog-container .inner > .action-wrap .btn {
  line-height: 32px;
}
.common-dialog-container .inner > .action-wrap .cancel-btn {
  border: none;
  outline: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid #D9D9D9;
  color: #333;
  background: #fff;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}
.common-dialog-container .inner > .action-wrap .cancel-btn:active {
  background: #f2f2f2;
  border: 1px solid #cfcfcf;
}
.common-dialog-container .inner > .action-wrap .cancel-btn:hover {
  background: #f8f8f8;
  border: 1px solid #d3d3d3;
}
.common-dialog-container .inner > .action-wrap .btn.primary {
  margin-left: 12px;
  border: none;
  outline: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  background: #24be48;
  border-radius: 4px;
  color: #FFF;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}
.common-dialog-container .inner > .action-wrap .btn.primary:active {
  background: #1FA63F;
}
.common-dialog-container .inner > .action-wrap .btn.primary:hover {
  background: #21AF42;
}
* {
  box-sizing: border-box;
}
body {
  background: white;
  color: #707a7d;
  text-align: center;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 14px;
  min-width: 1180px;
}
template {
  display: none;
}
p {
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.hide {
  display: none !important;
}
h1,
h2,
h3,
h4 {
  font-weight: normal;
}
a {
  text-decoration: none;
}
.btn {
  font-size: 14px;
  cursor: pointer;
  outline: none;
  border: none;
  background-repeat: no-repeat;
  display: inline-block;
  color: white;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn-round {
  background: #81e24c;
  background-repeat: no-repeat;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn-round-primary {
  background: #81e24c;
  border: none;
  display: inline-block;
  border-radius: 20px;
  cursor: pointer;
  position: relative;
  padding: 0;
  width: 180px;
  text-align: center;
  line-height: 38px;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: background-color 0.2s ease 0s, box-shadow 0.2s ease 0s, -webkit-transform 0.2s ease 0s;
  transition: background-color 0.2s ease 0s, box-shadow 0.2s ease 0s, -webkit-transform 0.2s ease 0s;
  transition: background-color 0.2s ease 0s, box-shadow 0.2s ease 0s, transform 0.2s ease 0s;
  transition: background-color 0.2s ease 0s, box-shadow 0.2s ease 0s, transform 0.2s ease 0s, -webkit-transform 0.2s ease 0s;
}
.btn-round-primary:hover {
  background: #84ef48;
  box-shadow: 0 16px 12px rgba(20, 20, 20, 0.15);
}
.btn-round-primary:active {
  background: #84ef48;
  box-shadow: 0 6px 6px rgba(20, 20, 20, 0.2);
  -webkit-transform: translateY(1px);
  transform: translateY(1px);
}
.btn-round-primary.has-icon {
  text-indent: 15px;
}
.btn-round-primary .icon {
  position: absolute;
  left: 18px;
  top: 0px;
}
.btn-round-primary .icon::before {
  font-size: 16px;
}
.btn-rect {
  background: #81e24c;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}
.btn-rect:hover {
  background: #7fee42;
}
#index-header {
  background-size: cover;
  background: white;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
  height: 54px;
  color: #a0a2a6;
  position: relative;
  z-index: 1000;
}
#index-header a {
  font-size: 15px;
  text-decoration: none;
  color: #a0a2a6;
  -webkit-transition: color 0.2s ease 0s;
  transition: color 0.2s ease 0s;
}
#index-header a:hover {
  color: #414141;
}
#index-header .header-inner {
  width: 1080px;
  margin: 0 auto;
  letter-spacing: 2px;
}
#index-header .logo {
  float: left;
  margin: 0;
  margin-left: 2px;
  margin-right: 13px;
  width: 90px;
  height: 54px;
  -webkit-transition: opacity 0.2s ease 0s;
  transition: opacity 0.2s ease 0s;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}
#index-header .logo .logo-icon {
  height: 32px;
  display: inline-block;
}
#index-header .logo .logo-icon.hi-dpi {
  display: none;
}
#index-header .logo.hi-dpi .logo-icon {
  display: none;
}
#index-header .logo.hi-dpi .logo-icon.hi-dpi {
  display: inline-block;
}
#index-header .logo:hover {
  opacity: 0.8;
}
#index-header li {
  float: left;
  height: 54px;
  margin-left: 5px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}
#index-header li a {
  padding: 10px 15px;
}
#index-header .header-user-box li:last-child {
  margin-left: 20px;
}
#index-header .header-user-box.anim {
  -webkit-animation: anim-header-user-box-show 0.4s ease;
  animation: anim-header-user-box-show 0.4s ease;
}
#index-header .header-menu {
  float: left;
}
#index-header .header-menu > li .emoji {
  height: 17px;
  display: inline-block;
  vertical-align: middle;
  margin-top: -4px;
  margin-right: 4px;
}
#index-header .products-btn {
  position: relative;
  padding-right: 8px;
  color: #212121;
  cursor: pointer;
}
#index-header .products-btn a {
  color: #1f1f1f;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}
#index-header .products-btn:hover .iconfont {
  opacity: 0.7;
}
#index-header .products-list {
  display: none;
  position: absolute;
  z-index: 1001;
  top: 45px;
  left: 15px;
  background: white;
  padding: 8px 0;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.08);
}
#index-header .products-list::before {
  position: absolute;
  left: 30px;
  top: -10px;
  content: "";
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-bottom-color: white;
}
#index-header .products-list li {
  float: none;
  width: 120px;
  height: 35px;
  line-height: 35px;
  margin-left: 0;
  text-align: left;
}
#index-header .products-list li a {
  color: #a0a2a6;
  width: 100%;
  cursor: pointer;
  padding-top: 0;
  padding-bottom: 0;
  display: block;
  -webkit-transition: color 0.2s ease 0s;
  transition: color 0.2s ease 0s;
}
#index-header .products-list li a:hover {
  color: #414141;
}
#index-header .right-box {
  float: right;
  text-align: right;
}
#index-header .right-box ul {
  display: inline-block;
}
#index-header .right-box li a {
  padding: 10px 10px;
}
#index-header .right-box .register {
  padding: 6px 10px;
  border: 1px solid #cacaca;
  border-radius: 4px;
  margin-left: -15px;
  -webkit-transition: background 0.25s ease 0s, color 0.25s ease 0s, border 0.25s ease 0s, box-shadow 0.25s ease 0s;
  transition: background 0.25s ease 0s, color 0.25s ease 0s, border 0.25s ease 0s, box-shadow 0.25s ease 0s;
}
#index-header .right-box .register:hover {
  box-shadow: 0 6px 10px rgba(32, 192, 92, 0.3);
}
#index-header .right-box .register:active {
  box-shadow: 0 3px 5px rgba(32, 192, 92, 0.3);
  -webkit-transform: translateY(1px);
  transform: translateY(1px);
}
#index-header .right-box .register:hover {
  background: #2ad069;
  border-color: #2ad069;
  color: white;
}
#index-header .right-box .register:active {
  background: #22ad56;
  border-color: #22ad56;
}
#index-header .download {
  color: white;
  background: #3ed777;
  text-decoration: none !important;
  display: inline-block;
  outline: none;
  text-align: center;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  height: 32px;
  line-height: 32px;
  width: 100px;
  border-radius: 40px;
  margin-top: 9px;
  display: none;
  margin-left: 20px;
  margin-right: 10px;
  -webkit-transition: background 0.25s ease 0s, box-shadow 0.25s ease 0s, border-color 0.25s ease 0s;
  transition: background 0.25s ease 0s, box-shadow 0.25s ease 0s, border-color 0.25s ease 0s;
  border: 1px solid #3ed777;
  -webkit-animation: anim-header-download-show 0.4s ease;
  animation: anim-header-download-show 0.4s ease;
}
#index-header .download:hover {
  border-color: #46dd7e;
  background: #46dd7e;
  color: white;
}
#index-header .download:active {
  border-color: #3db775;
  background: #3db775;
  color: white;
}
#index-header .download:hover {
  box-shadow: 0 6px 10px rgba(32, 192, 92, 0.3);
}
#index-header .download:active {
  box-shadow: 0 3px 5px rgba(32, 192, 92, 0.3);
  -webkit-transform: translateY(1px);
  transform: translateY(1px);
}
#index-header .download:hover {
  color: white;
}
#index-header.show-download .header-user-box {
  display: none;
}
#index-header.show-download .download {
  display: inline-block;
}
@-webkit-keyframes anim-header-download-show {
  0% {
    color: #3ed777;
    background: transparent;
    -webkit-transform: translateY(60%);
    transform: translateY(60%);
  }
  100% {
    color: white;
    background: #3ed777;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes anim-header-download-show {
  0% {
    color: #3ed777;
    background: transparent;
    -webkit-transform: translateY(60%);
    transform: translateY(60%);
  }
  100% {
    color: white;
    background: #3ed777;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes anim-header-user-box-show {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-60%);
    transform: translateY(-60%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes anim-header-user-box-show {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-60%);
    transform: translateY(-60%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
#index-footer {
  height: 90px;
  background: #2c3736;
}
#index-footer .footer-inner {
  width: 1200px;
  margin: 0 auto;
  padding-top: 40px;
}
#index-footer .footer-inner a {
  color: white;
}
#index-footer .footer-inner li,
#index-footer .footer-inner p {
  cursor: default;
  color: #efefef;
}
#index-footer .footer-inner p {
  float: left;
  font-size: 12px;
  padding-top: 6px;
}
#index-footer .footer-inner p span.power-hint {
  padding-left: 20px;
}
#index-footer .footer-inner ul {
  float: right;
}
#index-footer .footer-inner li {
  float: left;
  margin-left: 10px;
  font-size: 14px;
  -webkit-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
}
#index-footer .footer-inner a:hover {
  opacity: 0.9;
  color: #3ed777;
}
#index-footer.fixed {
  position: fixed;
  top: auto;
  right: 0;
  bottom: 0;
  left: 0;
}
