body.hide-meiqia #MEIQIA-BTN-HOLDER {
  display: none !important;
  opacity: 0 !important;
  visibility: hidden !important;
}
body.body-no-scroll {
  overflow: hidden !important;
}
* {
  font-family: "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.clearfix::after {
  display: table;
  content: "";
  clear: both;
}
ul {
  list-style: none;
}
.mpa-hide,
.hide {
  display: none !important;
}
body,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimSun, sans-serif;
  -webkit-font-smoothing: antialiased;
}
body.has-dialog {
  overflow: hidden;
}
button {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.global-help-box {
  position: fixed;
  right: 0;
  top: 40%;
  width: 3em;
  background-color: white;
  border: 1px solid #efefef;
  border-radius: 3px;
  box-shadow: -1px 1px 2px #efefef;
  z-index: 100;
  text-align: center;
}
.global-help-box a {
  padding: 10px 0.5em;
  color: #999;
  display: inline-block;
  cursor: pointer;
  -webkit-transition: color 100ms ease;
  transition: color 100ms ease;
  text-decoration: none;
}
.global-help-box a:hover {
  color: #666;
  text-decoration: none;
}
.global-help-box #line {
  width: 70%;
  height: 1px;
  margin: 0 auto;
  background-color: #ccc;
}
.gs-dialog {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2000;
}
.gs-dialog .inner {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 20px 35px 20px;
  border-radius: 2px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  width: 316px;
}
.gs-dialog .inner img.close {
  position: absolute;
  right: 14px;
  top: 14px;
  width: 32px;
  height: 34px;
  padding: 10px;
  cursor: pointer;
}
.gs-dialog .inner .title {
  text-align: center;
  font-size: 17px;
  margin: 20px 0 0;
  color: #222222;
  font-weight: 500;
  padding: 0;
}
.gs-dialog footer {
  margin-top: 20px;
}
.dialog-enlarge {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2000;
}
.dialog-enlarge > img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.dialog {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2000;
  overflow: auto;
}
.dialog header {
  padding: 10px;
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 10px;
  padding-left: 15px;
  font-size: 15px;
}
.dialog header .dialog-close {
  height: 24px;
  cursor: pointer;
  float: right;
  padding: 5px;
  position: absolute;
  right: 7px;
  opacity: 0.6;
}
.dialog header .dialog-close:hover {
  opacity: 1;
}
.dialog .inner {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: white;
  text-align: left;
  min-width: 380px;
  border-radius: 2px;
}
.dialog .inner .content {
  padding: 0px 15px;
  width: 100%;
  overflow: hidden;
}
.dialog .inner .content .input {
  display: block;
  width: 100%;
}
.dialog .inner .content p {
  margin: 10px 0;
}
.dialog footer {
  padding: 12px 12px;
  padding-top: 0;
  text-align: right;
}
.dialog .inner > .content {
  margin-bottom: 15px;
}
.dialog .btn {
  cursor: pointer;
  border: none;
  line-height: 32px;
  font-size: 14px;
  text-align: center;
  border-radius: 3px;
  outline: none;
  display: inline-block;
  min-width: 90px;
  padding: 0;
}
.dialog .btn + .btn {
  margin-left: 10px;
}
.dialog .btn-default {
  border: 1px solid #dcdcdc;
  background: white;
  color: #333;
  -webkit-transition: background-color 0.2s ease 0s;
  transition: background-color 0.2s ease 0s;
}
.dialog .btn-default:hover {
  background: #fafafa;
  border: 1px solid #d5d5d5;
  color: #333;
}
.dialog .btn-default:active {
  background: #eee;
}
.dialog .btn-primary {
  color: white;
  background: #20c05c;
  -webkit-transition: background-color 0.2s ease 0s, color 0.2s ease 0s;
  transition: background-color 0.2s ease 0s, color 0.2s ease 0s;
}
.dialog .btn-primary:hover {
  border-color: #1ab955;
  background: #1ab955;
  color: white;
}
.dialog .btn-primary:active {
  border-color: #22ad56;
  background: #22ad56;
  color: white;
}
.common-dialog {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.48);
  z-index: 900000000;
}
.common-dialog .inner {
  position: relative;
  padding: 32px;
  padding-bottom: 24px;
  border-radius: 4px;
  width: 399px;
  box-sizing: border-box;
  margin: 0 auto;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: #fff;
}
.common-dialog .inner .close-icon {
  position: absolute;
  top: 21px;
  right: 21px;
  width: 11px;
  height: 11px;
  cursor: pointer;
}
.common-dialog .inner .title {
  font-size: 16px;
  color: #222222;
  font-weight: 500;
  margin-bottom: 12px;
}
.common-dialog .inner .content {
  font-size: 14px;
  color: #222;
  margin-bottom: 24px;
}
.common-dialog .inner .btn-box {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-end;
}
.common-dialog .inner .btn-box .btn {
  display: inline-block;
  border: none;
  outline: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  padding: 5px 16px;
  border-radius: 4px;
  border: 1px solid #d9d9d9;
  background: #FFFFFF;
  margin-right: 8px;
}
.common-dialog .inner .btn-box .confirm-btn {
  background: #24BE48;
  color: #FFFFFF;
  border-color: #24BE48;
}
.mpa-btn-v1 {
  outline: none;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 0 20px;
  white-space: nowrap;
  color: #000000;
  font-size: 14px;
  background: white;
  box-sizing: content-box;
  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 32px;
  line-height: 32px;
}
.mpa-btn-v1:hover {
  color: #333333;
  background: #f8f8f8;
  border-radius: 4px;
  border: 1px solid #d3d3d3;
}
.mpa-btn-v1:active {
  color: #1a1a1a;
  background: #f2f2f2;
  border-radius: 4px;
  border: 1px solid #cfcfcf;
}
.mpa-btn-v1.primary {
  background: #24BE58;
  color: white;
  border: 1px solid #24BE58;
}
.mpa-btn-v1.primary:hover {
  background: #21af42;
  color: #ffffff;
}
.mpa-btn-v1.primary:active {
  background: #1fa63f;
}
.mpa-btn-v1.primary.disable {
  background: #f5f5f5;
  color: #b8b8b8;
  border: 1px solid transparent;
  cursor: not-allowed;
}
.mpa-btn-v1.primary.disable:hover {
  opacity: 1;
}
.common-dialog-container {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  background: rgba(0, 0, 0, 0.48);
  top: 0;
  left: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}
.common-dialog-container .inner {
  width: 400px;
  box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.18);
  border-radius: 4px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  padding: 22px 30px 16px 30px;
  position: relative;
  background: white;
}
.common-dialog-container .inner > .close-icon {
  width: 14px;
  height: 14px;
  padding: 4px;
  box-sizing: content-box;
  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  top: 12px;
  right: 18px;
}
.common-dialog-container .inner > .title {
  font-size: 16px;
  font-weight: bold;
  color: #222;
  width: 100%;
  text-align: left;
}
.common-dialog-container .inner > .content {
  width: 100%;
  font-size: 14px;
  color: #222;
  white-space: pre-wrap;
  word-break: break-all;
  text-align: left;
  line-height: 18px;
  margin-top: 10px;
}
.common-dialog-container .inner > .action-wrap {
  margin-top: 20px;
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  align-items: center;
}
.common-dialog-container .inner > .action-wrap .btn {
  line-height: 32px;
}
.common-dialog-container .inner > .action-wrap .cancel-btn {
  border: none;
  outline: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid #D9D9D9;
  color: #333;
  background: #fff;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}
.common-dialog-container .inner > .action-wrap .cancel-btn:active {
  background: #f2f2f2;
  border: 1px solid #cfcfcf;
}
.common-dialog-container .inner > .action-wrap .cancel-btn:hover {
  background: #f8f8f8;
  border: 1px solid #d3d3d3;
}
.common-dialog-container .inner > .action-wrap .btn.primary {
  margin-left: 12px;
  border: none;
  outline: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  background: #24be48;
  border-radius: 4px;
  color: #FFF;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}
.common-dialog-container .inner > .action-wrap .btn.primary:active {
  background: #1FA63F;
}
.common-dialog-container .inner > .action-wrap .btn.primary:hover {
  background: #21AF42;
}
#login-tips {
  position: fixed;
  width: 246px;
  height: 283px;
  background: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 2px 32px 0px rgba(0, 0, 0, 0.11);
  z-index: 1000;
}
#login-tips .arrow-top {
  display: block;
  width: 14px;
  height: 14px;
  box-shadow: -1px -1px 2px 0px rgba(0, 0, 0, 0.11);
  background: #FFF;
  position: absolute;
  -webkit-transform: translateX(-50%) rotate(45deg);
  transform: translateX(-50%) rotate(45deg);
  left: 50%;
  top: -7px;
}
#login-tips .tips-title {
  font-size: 15px;
  font-weight: 600;
  color: #333333;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 18px;
}
#login-tips .tips-title > img {
  width: 18px;
  height: 18px;
  margin-right: 6px;
}
#login-tips .fail-qr {
  width: 170px;
  height: 170px;
  margin: auto;
  margin-top: 14px;
  margin-bottom: 7px;
  background: #F8F8F8;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}
#login-tips .fail-qr > p {
  font-size: 12px;
  color: #999999;
}
#login-tips .fail-qr img {
  width: 54px;
  margin-bottom: 16px;
}
#login-tips .login-qr-box {
  display: block;
  margin: auto;
  width: 193px;
  height: 193px;
  margin-bottom: -4px;
  position: relative;
  z-index: -1;
}
#login-tips .login-qr-box > img {
  max-width: 100%;
}
#login-tips .login-qr-box .loading {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#login-tips .login-qr-box .yb-qr-logo {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#login-tips p {
  padding: 0 24px;
  font-size: 13px;
  color: #333333;
}
.guide-btn-primary {
  border-color: #24BE48;
  color: #FFFFFF;
  background-color: #24BE48;
}
.guide-btn-primary:hover {
  border-color: #21AF42;
  color: #FFFFFF;
  background-color: #21AF42;
}
.guide-btn-primary:active {
  border-color: #1FA63F;
  color: #FFFFFF;
  background-color: #1FA63F;
}
.guide-section.fold {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(50, 50, 50, 0);
  opacity: 0;
  z-index: -1;
}
.guide-section.fold .keep-tips {
  position: absolute;
  z-index: 10;
  left: 50px;
  bottom: 26px;
  background: #FFFBE6;
  border: 1px solid #FFE58F;
  padding: 19px 24px;
  width: 272px;
  border-radius: 4px;
}
.guide-section.fold .keep-tips.hide-force {
  display: none !important;
}
.guide-section.fold .keep-tips.hide {
  display: none;
}
.guide-section.fold .keep-tips::before {
  width: 10px;
  height: 10px;
  box-sizing: border-box;
  content: "";
  display: inline-block;
  border: 10px solid transparent;
  border-top-color: #FFE58F;
  position: absolute;
  left: 34px;
  bottom: -21px;
  z-index: 11;
}
.guide-section.fold .keep-tips::after {
  width: 10px;
  height: 10px;
  box-sizing: border-box;
  content: "";
  display: inline-block;
  border: 10px solid transparent;
  border-top-color: #FFFBE6;
  position: absolute;
  left: 34px;
  bottom: -20px;
  z-index: 12;
}
.guide-section.fold .keep-tips .keep-tips-close-btn {
  position: absolute;
  width: 12px;
  height: 12px;
  right: 8px;
  top: 8px;
  cursor: pointer;
}
.guide-section.fold .keep-tips .text {
  font-size: 14px;
  color: #595750;
  line-height: 22px;
  text-align: left;
}
.guide-section.fold.unfold {
  opacity: 1;
  z-index: 2000;
}
.guide-section.fold .container {
  background: #fff;
  position: absolute;
  bottom: -660px;
  left: 0;
  right: 0;
  z-index: 2000;
  text-align: center;
  -webkit-transition: bottom 0.3s ease 0.1s;
  transition: bottom 0.3s ease 0.1s;
}
.guide-section.fold .container.fade-in {
  bottom: 0;
}
.guide-section.fold .container.fade-in .guide {
  padding-top: 0;
}
.guide-section.fold .container .title {
  font-size: 18px;
  color: #333333;
  margin: 20px 0 20px;
  font-weight: 600;
  height: 25px;
  line-height: 25px;
}
.guide-section.fold .close-box {
  width: 64px;
  height: 64px;
  cursor: pointer;
  position: absolute;
  left: 50%;
  top: -92px;
  z-index: 2;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  border-radius: 50%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}
.guide-section.fold .close-box img {
  width: 64px;
  height: 64px;
}
.guide-section.fold .line {
  position: absolute;
  left: 50%;
  top: -46px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 2px;
  height: 102px;
  background: #fff;
  z-index: 1;
}
.guide-section.fold .arc-section {
  background: #fff;
}
.guide-section.fold .arc-section .arc-path {
  stroke: none;
  stroke-width: 1;
  fill: #323232;
  opacity: 0.93;
}
.guide {
  position: relative;
  width: 100%;
  opacity: 0;
  z-index: 1;
  -webkit-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}
.guide button.btn-primary {
  display: inline-block;
  border: none;
  outline: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  width: 132px;
  height: 40px;
}
.guide a.btn-primary {
  text-decoration: none !important;
  display: inline-block;
  outline: none;
  text-align: center;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  height: 40px;
  line-height: 40px;
  width: 132px;
}
.guide .btn-primary {
  border-color: #24BE48;
  color: #FFFFFF;
  background-color: #24BE48;
  display: block;
  margin: auto;
  border-radius: 4px;
  font-size: 16px;
  -webkit-transition: box-shadow 0.3s ease 0s, background 0.3s ease 0s;
  transition: box-shadow 0.3s ease 0s, background 0.3s ease 0s;
}
.guide .btn-primary:hover {
  border-color: #21AF42;
  color: #FFFFFF;
  background-color: #21AF42;
}
.guide .btn-primary:active {
  border-color: #1FA63F;
  color: #FFFFFF;
  background-color: #1FA63F;
}
.guide .btn-primary:hover {
  box-shadow: 0 6px 10px rgba(32, 192, 92, 0.3);
}
.guide .btn-primary:active {
  box-shadow: 0 3px 5px rgba(32, 192, 92, 0.3);
  -webkit-transform: translateY(1px);
  transform: translateY(1px);
}
.guide .btn-wrap-link {
  display: inline-block;
}
.guide .version {
  font-size: 12px;
  color: #b0b0b0;
  margin-top: 15px;
  display: block;
}
.guide a {
  color: #459AE9;
  cursor: pointer;
  text-decoration: none;
}
.guide a:hover {
  text-decoration: underline;
  color: #3E8BD3;
}
.guide .hint {
  font-size: 14px;
  color: #7e7e7e;
}
.guide .col {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}
.guide .col .row-flex {
  -webkit-box-flex: 1;
  flex: 1;
}
.guide .col .row {
  display: block;
}
.guide .col p {
  line-height: 25px;
}
.guide .row {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}
.guide .row .col-flex {
  -webkit-box-flex: 1;
  flex: 1;
}
.guide .row .col {
  display: block;
}
.guide .row.downloads {
  flex-wrap: wrap;
}
.guide .row.downloads .col + .col {
  margin-left: 50px;
}
.guide .row.downloads .download {
  width: 158px;
}
.guide .row.downloads button.goto-store {
  line-height: 40px;
}
.guide .row.downloads .goto-store {
  line-height: 44px;
  width: 190px;
  color: white;
  text-decoration: none;
}
.guide .text-box {
  text-align: left;
}
.guide .text-box h3 {
  color: #444;
  font-size: 16px;
  margin: 14px 0;
}
.guide .text-box p + p {
  margin-top: 11px;
}
.guide .text-box .highlight {
  position: relative;
}
.guide .text-box .highlight::before {
  content: "*";
  position: absolute;
  left: -10px;
  top: 5px;
  color: #20c05c;
}
.guide.show {
  opacity: 1;
  z-index: 2;
}
.guide.for-chrome .download-box,
.guide.for-qq .download-box {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}
.guide.for-chrome .download-box button,
.guide.for-qq .download-box button {
  margin: unset;
}
.guide.for-chrome .head-hint,
.guide.for-qq .head-hint {
  margin-top: 10px;
}
.guide.for-chrome .content,
.guide.for-qq .content {
  -webkit-box-align: start;
  align-items: flex-start;
  position: relative;
  left: 9px;
}
.guide.for-chrome .chrome-guide-content,
.guide.for-qq .chrome-guide-content,
.guide.for-chrome .one-click-install-content,
.guide.for-qq .one-click-install-content {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}
.guide.for-chrome .chrome-guide-content .mid-trans,
.guide.for-qq .chrome-guide-content .mid-trans,
.guide.for-chrome .one-click-install-content .mid-trans,
.guide.for-qq .one-click-install-content .mid-trans {
  width: 40px;
}
.guide.for-chrome .chrome-guide-content img.mid-trans,
.guide.for-qq .chrome-guide-content img.mid-trans,
.guide.for-chrome .one-click-install-content img.mid-trans,
.guide.for-qq .one-click-install-content img.mid-trans {
  box-shadow: none;
}
.guide.for-chrome .img-list,
.guide.for-qq .img-list {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  width: 952px;
  margin: 0 auto;
}
.guide.for-chrome .img-list img,
.guide.for-qq .img-list img {
  width: 280px;
  height: auto;
  border-radius: 4px;
  box-shadow: 0px 2px 10px 0px rgba(185, 185, 185, 0.5);
}
.guide.for-chrome .text-box-list,
.guide.for-qq .text-box-list {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  align-items: flex-start;
  width: 952px;
  margin: 0 auto;
}
.guide.for-chrome .text-box,
.guide.for-qq .text-box {
  width: 280px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}
.guide.for-chrome .text-box h3,
.guide.for-qq .text-box h3 {
  margin-top: 23px;
  margin-bottom: 7px;
}
.guide.for-chrome .text-box p,
.guide.for-qq .text-box p {
  line-height: 25px;
}
.guide.for-chrome .text-box span.green,
.guide.for-qq .text-box span.green {
  color: #24BE48;
}
.guide.for-chrome .text-box .for-copy,
.guide.for-qq .text-box .for-copy {
  width: 130px;
  outline: none;
  border: 0;
  color: #20c05c;
  position: relative;
  top: -1px;
  font-weight: 700;
  background: transparent;
}
.guide.for-chrome .text-box .copy-btn,
.guide.for-qq .text-box .copy-btn {
  height: 24px;
  line-height: 24px;
  display: inline-block;
  padding: 0 10px;
  border-radius: 4px;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-color: #24BE48;
  color: #FFFFFF;
  background-color: #24BE48;
  cursor: pointer;
  font-size: 14px;
}
.guide.for-chrome .text-box .copy-btn:hover,
.guide.for-qq .text-box .copy-btn:hover {
  border-color: #21AF42;
  color: #FFFFFF;
  background-color: #21AF42;
}
.guide.for-chrome .text-box .copy-btn:active,
.guide.for-qq .text-box .copy-btn:active {
  border-color: #1FA63F;
  color: #FFFFFF;
  background-color: #1FA63F;
}
.guide.for-chrome .col.arrow,
.guide.for-qq .col.arrow {
  display: block;
  width: 60px;
  height: 142px;
}
.guide.for-chrome .col.arrow img,
.guide.for-qq .col.arrow img {
  box-shadow: none;
  width: 46px;
}
.foot-hint {
  margin: 12px 0;
}
.foot-hint a {
  color: #459AE9;
  text-decoration: underline;
  cursor: pointer;
}
.foot-hint a:hover {
  color: #3E8BD3;
}
.guide .action-list {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}
.guide .action-list .action-li:last-child {
  margin-left: 16px;
}
.guide .action-list .download-btn {
  width: 191px;
  height: 44px;
  line-height: 44px;
}
.close-btn1 {
  outline: none;
  cursor: pointer;
  padding: 0;
  min-width: 58px;
  height: 24px;
  line-height: 24px;
  border-radius: 4px;
  border: 1px solid #D9D9D9;
  color: #666666;
  background-color: #FFFFFF;
  font-size: 13px;
  position: absolute;
  right: 24px;
  top: -26px;
  z-index: 3;
}
.close-btn1:hover {
  background-color: #F8F8F8;
  border-color: #D3D3D3;
  color: #333333;
}
.close-btn1:active {
  background-color: #F2F2F2;
  border-color: #CFCFCF;
  color: #1A1A1A;
}
.top-bg {
  width: 100%;
  height: 100px;
  position: absolute;
  top: -90px;
  left: 0;
}
html,
body {
  width: 100%;
  height: 100%;
}
.clickable {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}
.header-btn {
  border-radius: 5px;
  text-align: center;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}
.shadow-btn-wrap {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  top: -2px;
}
.shadow-btn-wrap .login {
  color: #353535;
  opacity: 0.75;
  font-size: 16px;
  margin-right: 28px;
}
.shadow-btn-wrap .register {
  padding: 10px 24px;
  background: #24BE48;
  border-radius: 4px;
  color: #fff;
}
#header-root {
  z-index: 1000;
  position: relative;
}
#body-root {
  min-height: calc(100% - 194px);
}
#footer-root {
  z-index: 1000;
  position: relative;
}
#index-header-new {
  background: #fff;
  width: 100%;
  height: 68px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.07);
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  z-index: 1000;
  position: relative;
}
#index-header-new a {
  text-decoration: none !important;
}
#index-header-new a:hover {
  text-decoration: none !important;
}
#index-header-new.index {
  position: fixed;
  top: 0;
  left: 0;
  background: transparent;
  box-shadow: none;
}
#index-header-new.index .header-inner .right-box ul.header-menu li {
  color: #fff;
}
#index-header-new.index .header-inner .right-box ul.header-menu li span {
  opacity: 0.8;
}
#index-header-new.index .header-inner .right-box ul.header-menu li span:hover {
  opacity: 1;
}
#index-header-new.index .header-inner .right-box ul.header-menu li a {
  color: #fff;
  opacity: 0.8;
}
#index-header-new.index .header-inner .right-box ul.header-menu li a:hover {
  opacity: 1;
}
#index-header-new.index .header-inner .right-box ul.header-menu li .arrow {
  border-top-color: #fff !important;
}
#index-header-new.index .header-inner .right-box .action-wrap ul.header-user-box li a {
  color: #fff;
}
#index-header-new.index .header-inner .right-box .action-wrap ul.header-user-box li a.login {
  opacity: 0.8;
}
#index-header-new.index .header-inner .right-box .action-wrap ul.header-user-box li a.login:hover {
  opacity: 1;
}
#index-header-new.index .header-inner .right-box .action-wrap ul.header-user-box li a.person-center {
  border: 1px solid #fff;
}
#index-header-new.index .header-inner .right-box .action-wrap ul.header-user-box li a.person-center:hover {
  background: #fff;
  color: #24BE48;
}
#index-header-new.index .header-inner .right-box .action-wrap ul.header-user-box li a.register {
  border: 1px solid #fff;
}
#index-header-new.index .header-inner .right-box .action-wrap ul.header-user-box li a.register:hover {
  box-shadow: 0px 4px 10px 0px rgba(75, 198, 104, 0.55);
  background: #fff;
  border-color: #fff;
  color: #24BE48;
}
#index-header-new.index .header-inner .right-box .action-wrap ul.header-user-box li a.for-weiban:hover {
  box-shadow: 0px 4px 10px 0px rgba(80, 158, 227, 0.55);
  background: #fff;
  border-color: #fff;
  color: #509EE3;
}
#index-header-new.fixed {
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.07);
}
#index-header-new.fixed .header-inner .right-box ul.header-menu li {
  color: #353535;
}
#index-header-new.fixed .header-inner .right-box ul.header-menu li > span {
  opacity: 0.75;
}
#index-header-new.fixed .header-inner .right-box ul.header-menu li > span:hover {
  opacity: 1;
}
#index-header-new.fixed .header-inner .right-box ul.header-menu li > a {
  opacity: 0.75;
  color: #353535;
}
#index-header-new.fixed .header-inner .right-box ul.header-menu li .arrow {
  border-top-color: #353535 !important;
}
#index-header-new.fixed .header-inner .right-box .action-wrap a {
  color: #353535;
}
#index-header-new.fixed .header-inner .right-box .action-wrap a.person-center {
  border: 1px solid #fff;
}
#index-header-new.fixed .header-inner .right-box .action-wrap a.person-center:hover {
  box-shadow: 0px 4px 10px 0px rgba(75, 198, 104, 0.55);
  background: #50CB6D;
  border-color: #50CB6D;
}
#index-header-new.fixed .header-inner .right-box .action-wrap a.register {
  border: 1px solid #fff;
}
#index-header-new .header-inner {
  width: 1066px;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
#index-header-new .header-inner .col-flex {
  -webkit-box-flex: 1;
  flex: 1;
}
#index-header-new .header-inner .col {
  display: block;
}
#index-header-new .header-inner .logo {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  position: relative;
}
#index-header-new .header-inner .logo .col-flex {
  -webkit-box-flex: 1;
  flex: 1;
}
#index-header-new .header-inner .logo .col {
  display: block;
}
#index-header-new .header-inner .logo .logo-icon {
  width: 84px;
  height: 56px;
}
#index-header-new .header-inner .logo .circle-logo {
  height: 30px;
  line-height: 30px;
}
#index-header-new .header-inner .logo .circle-logo .logo-icon {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  margin-right: 9px;
}
#index-header-new .header-inner .logo .logo-name {
  font-size: 14px;
  color: #FFFFFF;
  position: absolute;
  left: 0px;
  top: 36px;
  width: 143px;
  text-align: left;
}
#index-header-new .header-inner .logo .page-title {
  color: #353535;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 1px;
}
#index-header-new .header-inner .logo .bg-white-header,
#index-header-new .header-inner .logo .bg-green-header {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: start;
  justify-content: flex-start;
}
#index-header-new .header-inner .right-box {
  -webkit-box-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-pack: end;
  justify-content: flex-end;
}
#index-header-new .header-inner .right-box .col-flex {
  -webkit-box-flex: 1;
  flex: 1;
}
#index-header-new .header-inner .right-box .col {
  display: block;
}
#index-header-new .header-inner .right-box ul.header-menu {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-pack: end;
  justify-content: flex-end;
  color: #353535;
}
#index-header-new .header-inner .right-box ul.header-menu .col-flex {
  -webkit-box-flex: 1;
  flex: 1;
}
#index-header-new .header-inner .right-box ul.header-menu .col {
  display: block;
}
#index-header-new .header-inner .right-box ul.header-menu > li {
  font-size: 16px;
  line-height: 22px;
  margin-right: 36px;
  color: #353535;
  font-weight: 400;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}
#index-header-new .header-inner .right-box ul.header-menu > li span {
  opacity: 0.75;
}
#index-header-new .header-inner .right-box ul.header-menu > li a {
  opacity: 0.75;
  color: #353535;
}
#index-header-new .header-inner .right-box ul.header-menu > li a.invite {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}
#index-header-new .header-inner .right-box ul.header-menu > li a.invite .emoji {
  width: 21px;
  height: 21px;
}
#index-header-new .header-inner .right-box ul.header-menu > li:hover span {
  opacity: 1;
}
#index-header-new .header-inner .right-box ul.header-menu > li:hover > a {
  opacity: 1;
}
#index-header-new .header-inner .right-box ul.header-menu > li.current-page a {
  opacity: 1 !important;
}
#index-header-new .header-inner .right-box ul.header-menu > li.tools {
  position: relative;
  margin-right: 26px;
}
#index-header-new .header-inner .right-box ul.header-menu > li.tools span.arrow {
  margin-left: 4px;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  box-sizing: content-box;
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border: 3px solid transparent;
  border-top-color: #353535;
}
#index-header-new .header-inner .right-box ul.header-menu > li.tools ul.tool-menu {
  position: absolute;
  left: -14px;
  bottom: -12px;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  width: 150px;
  background: #fff;
  padding: 6px 0px;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  text-align: left;
}
#index-header-new .header-inner .right-box ul.header-menu > li.tools ul.tool-menu li {
  font-size: 14px;
  line-height: 20px;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  opacity: 1;
  width: 100%;
}
#index-header-new .header-inner .right-box ul.header-menu > li.tools ul.tool-menu li a {
  width: 100%;
  padding: 6px 0;
  text-indent: 16px;
  opacity: 1;
  text-align: left;
  color: #8D8D8D;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline-block;
}
#index-header-new .header-inner .right-box ul.header-menu > li.tools ul.tool-menu li:hover {
  background: #F7F7F7;
}
#index-header-new .header-inner .right-box ul.header-menu > li.tools ul.tool-menu li:hover a {
  color: #24BE48;
}
#index-header-new .header-inner .right-box .action-wrap ul.header-user-box {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}
#index-header-new .header-inner .right-box .action-wrap ul.header-user-box .col-flex {
  -webkit-box-flex: 1;
  flex: 1;
}
#index-header-new .header-inner .right-box .action-wrap ul.header-user-box .col {
  display: block;
}
#index-header-new .header-inner .right-box .action-wrap ul.header-user-box a.person-center {
  display: block;
  height: 48px;
  line-height: 48px;
  width: 144px;
  font-size: 16px;
  color: #222;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  background: transparent;
  border: 1px solid #B2B2B2;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}
#index-header-new .header-inner .right-box .action-wrap ul.header-user-box a.person-center:hover {
  box-shadow: 0px 4px 10px 0px rgba(75, 198, 104, 0.55);
  background: #50CB6D;
  color: #fff;
  border-color: #50CB6D;
}
#index-header-new .header-inner .right-box .action-wrap ul.header-user-box a.login {
  font-size: 16px;
  line-height: 22px;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  color: #222;
  margin-right: 36px;
  opacity: 0.8;
}
#index-header-new .header-inner .right-box .action-wrap ul.header-user-box a.login:hover {
  opacity: 1;
}
#index-header-new .header-inner .right-box .action-wrap ul.header-user-box a.register {
  display: block;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  padding: 0 16px;
  color: #222;
  box-sizing: border-box;
  border: 1px solid #B2B2B2;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
}
#index-header-new .header-inner .right-box .action-wrap ul.header-user-box a.register:hover {
  box-shadow: 0px 4px 10px 0px rgba(75, 198, 104, 0.55);
  background: #50CB6D;
  color: #fff;
  border-color: #50CB6D;
}
#index-header-new .header-inner .right-box .download {
  height: 48px;
  line-height: 48px;
  width: 144px;
  font-size: 16px;
  color: #fff;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  background: #24BE48;
  border: 1px solid #24BE48;
}
#index-header-new .header-inner .right-box .download:hover {
  box-shadow: 0px 4px 10px 0px rgba(75, 198, 104, 0.55);
  background: #50CB6D;
}
#index-header-new .header-inner .right-box .download.for-weiban {
  background: #509EE3;
  border: 1px solid #509EE3;
}
#index-header-new .header-inner .right-box .download.for-weiban:hover {
  box-shadow: 0px 4px 10px 0px rgba(80, 158, 227, 0.55);
  background: #509EE3;
}
#index-footer-new {
  width: 100%;
  z-index: 1000;
}
#index-footer-new a:hover {
  text-decoration: none;
}
#index-footer-new.fixed {
  position: fixed;
  bottom: 0;
  left: 0;
}
#index-footer-new .index-footer-inner {
  width: 100%;
  height: 438px;
  background: #fff;
}
#index-footer-new .index-footer-inner .inner {
  width: 1066px;
  height: 438px;
  box-sizing: border-box;
  padding: 45px 0 42px;
  margin: 0px auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  justify-content: center;
  flex-wrap: wrap;
}
#index-footer-new .index-footer-inner .company-info {
  -webkit-box-flex: 1;
  flex: 1;
  margin-right: 124px;
}
#index-footer-new .index-footer-inner .company-info .logo-area {
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: start;
  justify-content: flex-start;
  margin-bottom: 30px;
}
#index-footer-new .index-footer-inner .company-info .logo-area .col-flex {
  -webkit-box-flex: 1;
  flex: 1;
}
#index-footer-new .index-footer-inner .company-info .logo-area .col {
  display: block;
}
#index-footer-new .index-footer-inner .company-info .logo-area .logo-icon {
  width: 36px;
  height: 36px;
  border-radius: 18px;
  margin-right: 9px;
}
#index-footer-new .index-footer-inner .company-info .logo-area .logo-text {
  width: 69px;
  height: 36px;
}
#index-footer-new .index-footer-inner .company-info .email-line {
  color: #353535;
  opacity: 0.59;
  font-size: 12px;
  line-height: 20px;
  text-align: left;
}
#index-footer-new .index-footer-inner .company-info .location-line {
  text-align: left;
  margin-top: 16px;
  color: #353535;
  opacity: 0.59;
  font-size: 12px;
  line-height: 17px;
}
#index-footer-new .index-footer-inner .company-info .website-record {
  text-align: left;
  margin-top: 2px;
  color: #353535;
  opacity: 0.59;
  font-size: 12px;
  line-height: 17px;
  display: block;
}
#index-footer-new .index-footer-inner .company-info .website-record.website-record-info {
  margin-bottom: 10px;
}
#index-footer-new .index-footer-inner .company-info .website-record a {
  color: #353535;
}
#index-footer-new .index-footer-inner .link-info {
  -webkit-box-flex: 2;
  flex: 2;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  justify-content: space-between;
  text-align: left;
}
#index-footer-new .index-footer-inner .link-area:not(.logo-area) {
  width: 30%;
}
#index-footer-new .index-footer-inner .link-area.protocol-area {
  width: 25%;
  text-align: right;
}
#index-footer-new .index-footer-inner .link-area.protocol-area ul.links {
  -webkit-box-align: end;
  align-items: flex-end;
}
#index-footer-new .index-footer-inner .link-area .area-title {
  font-size: 16px;
  line-height: 22px;
  color: #353535;
  font-weight: 500;
  margin-bottom: 40px;
}
#index-footer-new .index-footer-inner .link-area .links-flex {
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: start;
  align-items: flex-start;
}
#index-footer-new .index-footer-inner .link-area .links-flex .col-flex {
  -webkit-box-flex: 1;
  flex: 1;
}
#index-footer-new .index-footer-inner .link-area .links-flex .col {
  display: block;
}
#index-footer-new .index-footer-inner .link-area .links-flex ul:first-child {
  margin-right: 33px;
}
#index-footer-new .index-footer-inner .link-area ul.links {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
}
#index-footer-new .index-footer-inner .link-area ul.links.product-links {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}
#index-footer-new .index-footer-inner .link-area ul.links .left {
  margin-right: 16px;
}
#index-footer-new .index-footer-inner .link-area ul.links li {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  margin-bottom: 21px;
  position: relative;
  width: 50%;
}
#index-footer-new .index-footer-inner .link-area ul.links li:hover a {
  color: #24BE48;
}
#index-footer-new .index-footer-inner .link-area ul.links li:hover .hover-box-1 {
  display: block;
}
#index-footer-new .index-footer-inner .link-area ul.links li a {
  color: #353535;
  opacity: 0.62;
  font-size: 15px;
  line-height: 21px;
  white-space: nowrap;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}
#index-footer-new .index-footer-inner .link-area ul.links li .hover-box {
  display: none;
  position: absolute;
  background: #fff;
  padding: 9px 16px;
  font-size: 14px;
  line-height: 14px;
  color: #353535;
  top: -10px;
  left: 50%;
  -webkit-transform: translate(-50%, -100%);
  transform: translate(-50%, -100%);
  white-space: nowrap;
  border-radius: 5px;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.15);
  z-index: 9;
}
#index-footer-new .index-footer-inner .link-area ul.links li .hover-box:after {
  position: absolute;
  content: '';
  width: 4px;
  height: 4px;
  background: #fff;
  bottom: -5px;
  left: 50%;
  -webkit-transform: rotate(45deg) translateX(-50%);
  transform: rotate(45deg) translateX(-50%);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-left: none;
  border-top: none;
}
#index-footer-new .index-footer-inner .link-area ul.links li span {
  color: #353535;
  opacity: 0.62;
  font-size: 15px;
  line-height: 21px;
  white-space: nowrap;
  font-weight: 400;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}
#index-footer-new .index-footer-inner .link-area ul.links li span:hover {
  color: #24BE48;
}
#index-footer-new .index-footer-inner .link-area ul.links li .mp-qrcode-box {
  width: 280px;
  height: 165px;
  position: absolute;
  top: -10px;
  right: -55px;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.15);
  background: #fff;
  padding: 7px 8px;
  box-sizing: border-box;
  border-radius: 5px;
}
#index-footer-new .index-footer-inner .link-area ul.links li .mp-qrcode-box ul {
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
#index-footer-new .index-footer-inner .link-area ul.links li .mp-qrcode-box ul li img {
  width: 128px;
  height: 128px;
}
#index-footer-new .index-footer-inner .link-area ul.links li .mp-qrcode-box ul li p {
  text-align: center;
  font-size: 14px;
  line-height: 22px;
  color: #353535;
}
#index-footer-new .index-footer-inner .link-area ul.links li .mp-qrcode-box:after {
  position: absolute;
  content: '';
  width: 7px;
  height: 7px;
  background: #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  bottom: -4px;
  right: 90px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-left: none;
  border-top: none;
}
#index-footer-new .index-footer-inner .link-area ul.links li .cs-qrcode-box {
  width: 144px;
  height: 144px;
  position: absolute;
  top: -10px;
  left: 50%;
  -webkit-transform: translate(-50%, -100%);
  transform: translate(-50%, -100%);
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.15);
  background: #fff;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 5px;
}
#index-footer-new .index-footer-inner .link-area ul.links li .cs-qrcode-box img {
  width: 128px;
  height: 128px;
}
#index-footer-new .index-footer-inner .link-area ul.links li .cs-qrcode-box:after {
  position: absolute;
  content: '';
  width: 7px;
  height: 7px;
  background: #fff;
  bottom: -4px;
  left: 50%;
  -webkit-transform: translateX(-50%) rotate(45deg);
  transform: translateX(-50%) rotate(45deg);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-left: none;
  border-top: none;
}
#index-footer-new .index-footer-inner .link-area ul.links li .company-profile {
  position: absolute;
  width: 399px;
  height: auto;
  background: #ffffff;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.15);
  -webkit-transform: translate(-50%, -121%);
  transform: translate(-50%, -121%);
  left: 50%;
  padding: 16px 32px;
  padding-bottom: 38px;
  z-index: 100;
}
#index-footer-new .index-footer-inner .link-area ul.links li .company-profile p {
  font-size: 16px;
  color: #222;
  font-weight: 500;
}
#index-footer-new .index-footer-inner .link-area ul.links li .company-profile .close {
  position: absolute;
  right: 20px;
  top: 16px;
  width: 14px;
  height: 14px;
}
#index-footer-new .index-footer-inner .link-area ul.links li .company-profile .content {
  padding-top: 12px;
  color: #353535;
  font-size: 14px;
}
#index-footer-new .index-footer-inner .link-area ul.links li .company-profile .arrow {
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  background: #FFF;
  -webkit-transform: translateX(-50%) rotate(45deg);
  transform: translateX(-50%) rotate(45deg);
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.15);
}
#index-footer-new .index-footer-inner .links-box.link-area {
  width: 1066px;
  text-align: left;
  border-top: 1px solid #E8E8EB;
  margin: 0 auto;
}
#index-footer-new .index-footer-inner .links-box.link-area .area-title {
  font-size: 16px;
  font-weight: 600;
  color: #353535;
  line-height: 22px;
  margin: 10px 0 20px;
}
#index-footer-new .index-footer-inner .links-box.link-area .links-flex .links {
  width: 100%;
  margin-right: 0;
  -webkit-box-pack: start;
  justify-content: flex-start;
}
#index-footer-new .index-footer-inner .links-box.link-area .links-flex .links li {
  width: unset;
  margin-right: 38px;
}
#index-footer-new .index-footer-inner .links-box.link-area p.more {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}
#index-footer-new .index-footer-inner .links-box.link-area p.more a {
  color: #353535;
  font-size: 15px;
  line-height: 21px;
  white-space: nowrap;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  opacity: 0.62;
}
#index-footer-new .index-footer-inner .links-box.link-area p.more a:hover {
  color: #24BE48;
  opacity: 0.8;
}
#index-footer-new .index-footer-inner .links-box.link-area p.more a img {
  margin-left: 5px;
}
#index-footer-new .footer-inner {
  width: 100%;
  height: 126px;
  background: #2C3636;
  box-sizing: border-box;
  padding-top: 41px;
}
#index-footer-new .footer-inner .footer-info {
  width: 1066px;
  box-sizing: border-box;
  margin: 0 auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
#index-footer-new .footer-inner .footer-info li {
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  white-space: nowrap;
}
#index-footer-new .footer-inner .footer-info li a {
  color: #fff;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  -webkit-transition: color 0.2s ease 0s;
  transition: color 0.2s ease 0s;
}
#index-footer-new .footer-inner .footer-info li a:hover {
  color: #24BE48;
}
#index-footer-new .footer-inner .company-name {
  margin-top: 36px;
  text-align: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}
#index-footer-new .footer-inner .company-name span {
  font-size: 12px;
  line-height: 17px;
  color: #fff;
  opacity: 0.56;
}
#index-footer-new .footer-inner .company-name .divider {
  width: 1px;
  height: 12px;
  background: #fff;
  opacity: 0.56;
  margin: 0 9px 0 12px;
}
.yiban-curtain-window {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2000;
}
.yiban-curtain-window .inner {
  max-width: 30%;
  position: relative;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}
.yiban-curtain-window .inner .show-img {
  width: 100%;
}
.yiban-curtain-window .inner .close {
  width: 18px;
  height: 18px;
  position: absolute;
  right: -30px;
  top: -30px;
  cursor: pointer;
}
#gs-toast .message {
  position: fixed;
  left: 50%;
  top: 10%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: #0077FF;
  color: #FFFFFF;
  padding: 8px 16px;
  opacity: 1;
  -webkit-transition: opacity 0.8s;
  transition: opacity 0.8s;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 10000;
}
#gs-toast .toast-hide {
  opacity: 0;
}
